<nav>
    <div class="site-title">
        <a href="/">Test Blog</a>
        <p>Blog for Testing</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>