<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="error content">
        OOPS PAGE DOSENRT EXISTR
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>