<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque risus vitae enim fringilla lacinia. Nunc vestibulum tortor mauris, eu aliquam ligula lacinia ac. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque risus vitae enim fringilla lacinia. Nunc vestibulum tortor mauris, eu aliquam ligula lacinia ac. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque risus vitae enim fringilla lacinia. Nunc vestibulum tortor mauris, eu aliquam ligula lacinia ac. </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>